.example-form {
  min-width: 150px;
  max-width: 540px;
  width: 800px;
  border: 6px solid rgb(116, 24, 177);
  margin-left: 500px;
}
.tipo{
  font-size: larger;
  font-weight: bold;
  margin-right: 10px;
}


.example-full-width, .example-full-descri{
  width: 100%;
  color:blueviolet;

}

.example-full-descri{
  height: 150px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
  margin: 8px 8px 8px 0;

}
.example-full-width {
  width: 100%;
}

.example-button-row{
  margin-left: 250px;

}



